
{{>head}}


<body>
   <section class="preloader">
            <div class="spinner">
                <span class="sk-inner-circle"></span>
            </div>
        </section>
    
        <main>

  {{>navbar}}
{{!-- 
  <div class="container">
  </div> --}}

{{{ body }}}

        </main>
  {{> footer}}
</body>
</html>