  <section class="contact section-padding">
                <div class="container">
                    <div class="row">
                            <div class="col-lg-8 col-12 m-auto">
                            
                            
                            <div class='my-5'style ='text-align:center;'>
                                <h3>Помилка 404</h3>
								<h4><a href="/"> поверніться до головноі сторінки</a></h4>
								
                            </div>     

  
                        

         </div>
                </div>
            </section>
