<section class="bg-light text-center py-5" style=' background-image: url(/images/hero.jpg); background-size: cover; background-position: bottom; background-attachment: fixed; overflow: hidden'>
	<div class="container pb-5 pt-5">
		<div class="pb-5 pt-5 row">
			<div class="col-lg-9 col-xl-8 ms-auto me-auto pb-5 pt-5">
				<span style='color: #fff;'>Code or not to code?</span>
				<h1 class="display-3 fw-bold mb-3" style='color: #fff;' >Програмування в кожен дім</h1>
				<a class="btn custom-btn cart-btn" style='max-width: 250px;' href="/courses">до діла</a>
			</div>
		</div>
	</div>
</section>
<section class="about section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-12 text-center">
                            <h2 class="mb-5">Почніть навчатись та заробляти з <span>Lytvyn</span> Courses</h2>
                        </div>
                        <div class="col-lg-10 col-12">
                            <div class="tab-content mt-2" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                                    <div class="row">
                                        <div class="col-lg-7 col-12">
                                            <img src="images/pim-chu-z6NZ76_UTDI-unsplash.jpeg" class="img-fluid" alt="">
                                        </div>

                                        <div class="col-lg-5 col-12">
                                            <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                                <h4 class="mb-3">Реєструйтесь та відкривайте <br> <span>нові можливості!</span></h4>

                                                <p>Приєднуйтесь до нашої спільноти вивчення і розвитку вже сьогодні! Після реєстрації ви матимете можливість не лише придбати курс, але і створювати та викладати особисті кури на платформі.Після входу в особистий кабінет.


                                                <div class="mt-2 mt-lg-auto">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="pills-youtube" role="tabpanel" aria-labelledby="pills-youtube-tab">

                                    <div class="row">

                                        
                                <div class="tab-pane fade" id="pills-skill" role="tabpanel" aria-labelledby="pills-skill-tab">
                                    <div class="row">
                                        <div class="col-lg-7 col-12">
                                            <img src="images/cody-lannom-G95AReIh_Ko-unsplash.jpeg" class="img-fluid" alt="">
                                        </div>

                                        <div class="col-lg-5 col-12">
                                            <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                                
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="front-product">
                <div class="container-fluid p-0">
                    <div class="row align-items-center">

                        <div class="col-lg-6 col-12">
                            <img src="https://asset.conrad.com/media10/isa/160267/c1/-/de/AdobeStock_145439961/programmierung-als-teil-der-fachinformatik.jpg?x=514" style="padding-left: 100px;" class="img-fluid" alt="">
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="px-5 py-5 py-lg-0">
                                
                                <h2 class="mb-4"><span>Купуйте </span> та вивчайте!</h2>

                                <p class="lead mb-5">Розкрийте свій потенціал та розвивайте свої навички з нашими курсами.  
                                 Оберіть курс, що вас цікавить, придбайте його та розпочніть навчання вже сьогодні.
                                 Знання - це ключ до успіху, тому не відкладайте свій розвиток на потім. Почніть вчитися прямо зараз!
                                 В нашій широкій асортименті курсів ви знайдете все, що потрібно для досягнення ваших цілей: від програмування до мистецтва, від бізнесу до особистого розвитку.
                                 Розпочніть свій шлях до успіху вже сьогодні з нашою платформою навчання.</p>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            