<FONT COLOR="white "> 
<h1 style="text-align: center;" >Ласкаво просимо до магазину курсів Lightvvin!</h1>

<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

.header {
  background-color: black;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}
.column {
  float: left;
  width: 33%;
  padding: 10px;
  height: 500px; 
  margin-left: 3px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}
</style>
</head>
<body>

<div class="header">
  <h4>Як працює платформа?</h4>
</div>

<div class="row">
  <div class="column"><h6>Реєструйся та відкривай нові можливості!</h6>
  <p>Приєднуйтесь до нашої спільноти вивчення і розвитку вже сьогодні! Після реєстрації ви матимете можливість не лише придбати доступ до наших курсів, але і стати частиною нашої платформи навчання.

Після входу в особистий кабінет ви зможете:
<ol>
    <li>Придбавати курси, які вас цікавлять, і розвиватися в обраних галузях.</li>
    <li>Створювати власні курси та ділитися своїми знаннями з іншими користувачами.</li>
    <li>Редагувати та оновлювати вміст ваших курсів, забезпечуючи його актуальність.</li>
</ol>

<p>Не чекайте, приєднуйтесь до нас прямо зараз та розкрийте свій потенціал разом з нами!</p>
  </div>
  <div class="column"><h6>Створи свій курс і поділися своїми знаннями зі світом</h6>
  <p>На платформі ви можете створити власні навчальні програми з будь-якої галузі, яка вас цікавить. Поділіться своїм досвідом та експертизою з іншими та отримайте можливість заробляти гроші, допомагаючи іншим вчитися.

Створення курсу у нас - це просто та зручно. Виберіть тему, розробіть вміст та завантажте його на нашу платформу. Ми надамо вам інструменти для редагування та оновлення вашого курсу, щоб ви могли забезпечити його актуальність.

Почніть створювати свій курс вже сьогодні та долучіться до нашої спільноти освіти та розвитку.</p>
  </div>
  <div class="column"><h6>Купуй та вивчай!</h6>
  <p>Розкрийте свій потенціал та розвивайте свої навички з нашими курсами.  
  Оберіть курс, що вас цікавить, придбайте його та розпочніть навчання вже сьогодні.
  Знання - це ключ до успіху, тому не відкладайте свій розвиток на потім. Почніть вчитися прямо зараз!
  В нашій широкій асортименті курсів ви знайдете все, що потрібно для досягнення ваших цілей: від програмування до мистецтва, від бізнесу до особистого розвитку.
  Розпочніть свій шлях до успіху вже сьогодні з нашою платформою навчання.</p>
  </div>
</div>
</body>
</html>